.form-container {
  display: flex;
  justify-content: center;
  padding: 16px 0;

  .form-content-container {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
  }
}

